openapi: 3.0.3
info:
  title: DeepBookV3 Indexer API
  version: "1.0.0"
  description: |
    REST endpoints for DeepBookV3 order book + analytics data.
    Volumes are returned in the smallest unit of the asset unless stated otherwise.
servers:
  - url: https://deepbook-indexer.mainnet.mystenlabs.com
    description: Public DeepBookV3 Indexer

tags:
  - name: Pools
  - name: Volume
  - name: Market Data
  - name: Order Flow
  - name: Reference
  - name: Pyth
  - name: Health

paths:
  /:
    get:
      tags: [Health]
      summary: Basic health check
      description: Returns HTTP 200 if the server is running.
      operationId: healthCheck
      responses:
        "200":
          description: Server is running

  /status:
    get:
      tags: [Health]
      summary: Indexer synchronization status
      description: |
        Returns detailed information about indexer health, including:
        - Current checkpoint lag (difference between on-chain and indexed checkpoints)
        - Time lag (how long ago the last checkpoint was indexed)
        - Per-pipeline status for multi-pipeline setups
        
        The client can specify custom health thresholds via query parameters.
        The server will compute the status based on these thresholds.
        
        **Default thresholds:**
        - `max_checkpoint_lag`: 100
        - `max_time_lag_seconds`: 60
        
        **Health computation:**
        - `healthy`: checkpoint_lag < max_checkpoint_lag AND time_lag < max_time_lag_seconds
        - `degraded`: exceeds the specified thresholds
      operationId: getStatus
      parameters:
        - in: query
          name: max_checkpoint_lag
          schema:
            type: integer
            format: int64
            default: 100
          description: Maximum acceptable checkpoint lag for "healthy" status
        - in: query
          name: max_time_lag_seconds
          schema:
            type: integer
            format: int64
            default: 60
          description: Maximum acceptable time lag in seconds for "healthy" status
      responses:
        "200":
          description: Indexer status and health metrics
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/IndexerStatus"
      x-docs: "https://docs.sui.io/standards/deepbookv3-indexer"

  /pyth/updates/price/latest:
    get:
      tags: [Pyth]
      summary: Latest parsed Pyth Pro price updates
      description: |
        Hermes-like HTTP interface backed by authenticated Pyth Pro requests.
        The first request after the server-local cache expires loads every
        allowed feed into one timestamped snapshot. Concurrent misses share
        that load, and requests within the cache TTL read it from memory. This
        parsed response does not contain signed binary payloads for on-chain use.
      operationId: getLatestPythPriceUpdates
      parameters:
        - in: query
          name: "ids[]"
          required: true
          schema:
            type: array
            items:
              type: integer
              format: int32
              minimum: 0
          style: form
          explode: true
          description: Repeatable numeric Pyth Pro feed IDs from the server allowlist.
        - in: query
          name: parsed
          schema: { type: boolean, default: true }
          description: Must be true; binary responses are not supported.
        - in: query
          name: ignore_invalid_price_ids
          schema: { type: boolean, default: false }
          description: Omit IDs not present in the server allowlist.
      responses:
        "200":
          description: Parsed Hermes-like price response.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/PythPriceResponse"
        "400":
          description: Invalid query or latest feed ID is not allowed.
        "429":
          description: Pyth Pro rate limit response.
        "503":
          description: Pyth Pro is not configured.
        "502":
          description: Pyth Pro could not be reached or returned an invalid response.

  /pyth/updates/price/{publish_time}:
    get:
      tags: [Pyth]
      summary: Parsed Pyth Pro prices at a timestamp
      description: |
        Hermes-like HTTP interface backed by Pyth Pro `/v1/price`. The Unix
        timestamp in seconds is converted to microseconds before the upstream
        request. Successful prices are cached independently by numeric feed ID
        and microsecond timestamp in a bounded server-local cache.
      operationId: getPythPriceUpdatesAtTimestamp
      parameters:
        - in: path
          name: publish_time
          required: true
          schema:
            type: integer
            format: int64
            minimum: 0
          description: Unix timestamp in seconds.
        - in: query
          name: "ids[]"
          required: true
          schema:
            type: array
            items:
              type: integer
              format: int32
              minimum: 0
          style: form
          explode: true
          description: Repeatable numeric Pyth Pro feed IDs from the server allowlist.
        - in: query
          name: parsed
          schema: { type: boolean, default: true }
          description: Must be true; binary responses are not supported.
        - in: query
          name: ignore_invalid_price_ids
          schema: { type: boolean, default: false }
          description: Omit feed IDs for which no historical price is returned.
      responses:
        "200":
          description: Parsed Hermes-like price response.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/PythPriceResponse"
        "400":
          description: Invalid query, timestamp, or feed ID is not allowed.
        "404":
          description: Pyth Pro has no price for a requested feed and timestamp.
        "429":
          description: Pyth Pro rate limit response.
        "503":
          description: Pyth Pro is not configured or its history service is unavailable.
        "502":
          description: Pyth Pro could not be reached or returned an invalid response.

  /pyth/shims/tradingview/history:
    get:
      tags: [Pyth]
      summary: Pyth Pro OHLC chart history
      description: |
        TradingView-compatible chart history backed by the authenticated Pyth
        Pro History API. Successful responses are cached by canonical symbol,
        resolution, and minute-aligned bounds. Requests exceeding the
        server-configured maximum range (24 hours by default) are rejected
        before contacting Pyth.
      operationId: getPythChartHistory
      parameters:
        - in: query
          name: symbol
          required: true
          schema: { type: string }
          description: Server-configured Pyth Pro symbol, such as Crypto.BTC/USD.
        - in: query
          name: resolution
          required: true
          schema:
            type: string
            enum: ["1", "2", "5", "15", "30", "60", "120", "240", "360", "720", D, W, M]
          description: TradingView candle resolution.
        - in: query
          name: from
          required: true
          schema:
            type: integer
            format: int64
            minimum: 0
          description: Inclusive start time in Unix seconds.
        - in: query
          name: to
          required: true
          schema:
            type: integer
            format: int64
            minimum: 0
          description: Inclusive end time in Unix seconds.
      responses:
        "200":
          description: TradingView-compatible OHLC arrays.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/PythTradingViewHistory"
        "400":
          description: Invalid query, range exceeds the configured maximum, or symbol is not configured.
        "429":
          description: Pyth Pro rate limit response.
        "502":
          description: Pyth Pro could not be reached or returned an invalid response.
        "503":
          description: Pyth Pro is not configured.

  /get_pools:
    get:
      tags: [Pools]
      summary: Get all pool information
      description: Returns all available pools with asset metadata and trading parameters.
      operationId: getPools
      responses:
        "200":
          description: List of pools
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/Pool"
      x-docs: "https://docs.sui.io/standards/deepbookv3-indexer" # reference

  /historical_volume/{pool_names}:
    get:
      tags: [Volume]
      summary: Historical volume for pools in a time range
      description: |
        Comma-delimited pool names. By default returns 24h volume in **quote** asset.
        Set `volume_in_base=true` to return volumes in base asset units.
      operationId: getHistoricalVolume
      parameters:
        - in: path
          name: pool_names
          required: true
          schema:
            type: string
          description: Comma-separated list, e.g. `DEEP_SUI,SUI_USDC`.
        - in: query
          name: start_time
          schema: { type: integer, format: int64 }
          description: Unix timestamp (seconds)
        - in: query
          name: end_time
          schema: { type: integer, format: int64 }
          description: Unix timestamp (seconds)
        - in: query
          name: volume_in_base
          schema: { type: boolean, default: false }
      responses:
        "200":
          description: Map of pool -> total volume
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/PoolVolumes"
      x-docs: "https://docs.sui.io/standards/deepbookv3-indexer" # reference

  /all_historical_volume:
    get:
      tags: [Volume]
      summary: Historical volume for all pools
      operationId: getAllHistoricalVolume
      parameters:
        - in: query
          name: start_time
          schema: { type: integer, format: int64 }
        - in: query
          name: end_time
          schema: { type: integer, format: int64 }
        - in: query
          name: volume_in_base
          schema: { type: boolean, default: false }
      responses:
        "200":
          description: Map of pool -> total volume across all pools in range
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/PoolVolumes"
      x-docs: "https://docs.sui.io/standards/deepbookv3-indexer"

  /historical_volume_by_balance_manager_id/{pool_names}/{balance_manager_id}:
    get:
      tags: [Volume]
      summary: Historical maker/taker volume for a BalanceManager
      operationId: getHistoricalVolumeByBM
      parameters:
        - in: path
          name: pool_names
          required: true
          schema: { type: string }
          description: Comma-separated pool names.
        - in: path
          name: balance_manager_id
          required: true
          schema: { type: string }
        - in: query
          name: start_time
          schema: { type: integer, format: int64 }
        - in: query
          name: end_time
          schema: { type: integer, format: int64 }
        - in: query
          name: volume_in_base
          schema: { type: boolean, default: false }
      responses:
        "200":
          description: Map of pool -> [maker_volume, taker_volume]
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/PoolMakerTakerVolumes"
      x-docs: "https://docs.sui.io/standards/deepbookv3-indexer"

  /historical_volume_by_balance_manager_id_with_interval/{pool_names}/{balance_manager_id}:
    get:
      tags: [Volume]
      summary: Intervalized maker/taker volume for a BalanceManager
      operationId: getHistoricalVolumeByBMWithInterval
      parameters:
        - in: path
          name: pool_names
          required: true
          schema: { type: string }
        - in: path
          name: balance_manager_id
          required: true
          schema: { type: string }
        - in: query
          name: start_time
          schema: { type: integer, format: int64, minimum: 0 }
          description: |
            Unix seconds. Defaults to 24 hours before end_time. The window must be ordered and at
            most 365 days wide.
        - in: query
          name: end_time
          schema: { type: integer, format: int64, minimum: 0 }
          description: Unix seconds. Defaults to now.
        - in: query
          name: interval
          schema: { type: integer, format: int64, minimum: 1, default: 3600 }
          description: |
            Interval length in seconds. The window is split into floor((end_time - start_time) /
            interval) buckets, which must not exceed 500. A window narrower than one interval
            yields no buckets and returns an empty object.
        - in: query
          name: volume_in_base
          schema: { type: boolean, default: false }
      responses:
        "200":
          description: |
            Map of "[start,end]" (Unix seconds) -> { pool: [maker,taker], ... }
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/IntervalMakerTakerVolumes"
        "400":
          description: |
            Invalid interval, unordered or negative window, a window wider than 365 days, a window
            needing more than 500 buckets, or no valid pool names.
      x-docs: "https://docs.sui.io/standards/deepbookv3-indexer"

  /summary:
    get:
      tags: [Market Data]
      summary: Summary for all trading pairs
      operationId: getSummary
      responses:
        "200":
          description: Array of summary objects
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/SummaryItem"
      x-docs: "https://docs.sui.io/standards/deepbookv3-indexer"

  /ticker:
    get:
      tags: [Market Data]
      summary: Ticker info for all trading pairs
      operationId: getTicker
      responses:
        "200":
          description: Map of pair -> ticker fields
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/TickerMap"
      x-docs: "https://docs.sui.io/standards/deepbookv3-indexer"

  /trades/{pool_name}:
    get:
      tags: [Market Data]
      summary: Recent trades for a pool
      operationId: getTrades
      parameters:
        - in: path
          name: pool_name
          required: true
          schema: { type: string }
        - in: query
          name: limit
          schema: { type: integer, minimum: 1 }
          description: Number of trades to return.
        - in: query
          name: start_time
          schema: { type: integer, format: int64 }
          description: Unix timestamp (seconds)
        - in: query
          name: end_time
          schema: { type: integer, format: int64 }
          description: Unix timestamp (seconds)
        - in: query
          name: maker_balance_manager_id
          schema: { type: string }
        - in: query
          name: taker_balance_manager_id
          schema: { type: string }
      responses:
        "200":
          description: List of trades (timestamp in ms)
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/Trade"
      x-docs: "https://docs.sui.io/standards/deepbookv3-indexer"

  /order_updates/{pool_name}:
    get:
      tags: [Order Flow]
      summary: Recently placed or canceled orders in a pool
      operationId: getOrderUpdates
      parameters:
        - in: path
          name: pool_name
          required: true
          schema: { type: string }
        - in: query
          name: limit
          schema: { type: integer, minimum: 1 }
        - in: query
          name: start_time
          schema: { type: integer, format: int64 }
        - in: query
          name: end_time
          schema: { type: integer, format: int64 }
        - in: query
          name: status
          schema:
            type: string
            enum: ["Placed", "Canceled"]
        - in: query
          name: balance_manager_id
          schema: { type: string }
      responses:
        "200":
          description: Order update rows
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/OrderUpdate"
      x-docs: "https://docs.sui.io/standards/deepbookv3-indexer"

  /orderbook/{pool_name}:
    get:
      tags: [Market Data]
      summary: Order book snapshot for a pool
      operationId: getOrderbook
      parameters:
        - in: path
          name: pool_name
          required: true
          schema: { type: string }
        - in: query
          name: level
          schema:
            type: integer
            enum: [1, 2]
          description: 1 = best bid/ask only; 2 = aggregated levels (default).
        - in: query
          name: depth
          schema:
            type: integer
            minimum: 0
          description: 0 = full book; >1 returns N/2 bids + N/2 asks.
      responses:
        "200":
          description: Bids/asks sorted best→worst; timestamp in ms (string)
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Orderbook"
      x-docs: "https://docs.sui.io/standards/deepbookv3-indexer"

  /assets:
    get:
      tags: [Reference]
      summary: Asset information for all coins
      operationId: getAssets
      responses:
        "200":
          description: Symbol -> metadata
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/AssetsMap"
      x-docs: "https://docs.sui.io/standards/deepbookv3-indexer"

components:
  schemas:
    PythPriceResponse:
      type: object
      required: [parsed]
      properties:
        parsed:
          type: array
          items:
            $ref: "#/components/schemas/PythParsedPrice"

    PythParsedPrice:
      type: object
      required: [id, price, metadata]
      properties:
        id:
          type: string
          pattern: "^[0-9]+$"
          description: Numeric Pyth Pro feed ID encoded as a string.
        price:
          $ref: "#/components/schemas/PythPrice"
        ema_price:
          $ref: "#/components/schemas/PythPrice"
        metadata:
          type: object
          required: [publish_time_us]
          properties:
            publish_time_us:
              type: string
              pattern: "^[0-9]+$"

    PythPrice:
      type: object
      required: [price, conf, expo, publish_time]
      properties:
        price: { type: string }
        conf: { type: string }
        expo: { type: integer, format: int32 }
        publish_time:
          type: integer
          format: int64
          minimum: 0

    PythTradingViewHistory:
      type: object
      required: [s, t, o, h, l, c, v]
      properties:
        s:
          type: string
          enum: [ok]
        t:
          type: array
          items: { type: integer, format: int64 }
        o:
          type: array
          items: { type: number, format: double }
        h:
          type: array
          items: { type: number, format: double }
        l:
          type: array
          items: { type: number, format: double }
        c:
          type: array
          items: { type: number, format: double }
        v:
          type: array
          items: { type: number, format: double }

    Pool:
      type: object
      required:
        [
          pool_id,
          pool_name,
          base_asset_id,
          quote_asset_id,
          min_size,
          lot_size,
          tick_size,
        ]
      properties:
        pool_id: { type: string }
        pool_name: { type: string }
        base_asset_id: { type: string }
        base_asset_decimals: { type: integer }
        base_asset_symbol: { type: string }
        base_asset_name: { type: string }
        quote_asset_id: { type: string }
        quote_asset_decimals: { type: integer }
        quote_asset_symbol: { type: string }
        quote_asset_name: { type: string }
        min_size: { type: integer, description: "Smallest units of base asset" }
        lot_size: { type: integer, description: "Increment in base units" }
        tick_size: { type: integer, description: "Min price increment" }

    PoolVolumes:
      type: object
      additionalProperties:
        type: integer
        description: Volume in smallest unit (base or quote depending on query)

    PoolMakerTakerVolumes:
      type: object
      additionalProperties:
        type: array
        minItems: 2
        maxItems: 2
        items:
          type: integer
        description: "[maker_volume, taker_volume] in smallest units"

    IntervalMakerTakerVolumes:
      type: object
      additionalProperties:
        type: object
        additionalProperties:
          type: array
          minItems: 2
          maxItems: 2
          items: { type: integer }

    SummaryItem:
      type: object
      properties:
        trading_pairs: { type: string }
        quote_currency: { type: string }
        last_price: { type: number }
        lowest_price_24h: { type: number }
        highest_bid: { type: number }
        base_volume: { type: number }
        price_change_percent_24h: { type: number }
        quote_volume: { type: number }
        lowest_ask: { type: number }
        highest_price_24h: { type: number }
        base_currency: { type: string }

    TickerMap:
      type: object
      additionalProperties:
        type: object
        properties:
          base_volume: { type: number }
          quote_volume: { type: number }
          last_price: { type: number }
          isFrozen:
            type: integer
            enum: [0, 1]
            description: "0=active, 1=inactive"

    Trade:
      type: object
      properties:
        trade_id: { type: string }
        base_volume: { type: integer }
        quote_volume: { type: integer }
        price: { type: integer }
        type: { type: string }
        timestamp: { type: integer, format: int64, description: "Unix ms" }
        maker_order_id: { type: string }
        taker_order_id: { type: string }
        maker_balance_manager_id: { type: string }
        taker_balance_manager_id: { type: string }

    OrderUpdate:
      type: object
      properties:
        order_id: { type: string }
        balance_manager_id: { type: string }
        timestamp: { type: integer, format: int64, description: "Unix ms" }
        original_quantity: { type: integer }
        remaining_quantity: { type: integer }
        filled_quantity: { type: integer }
        price: { type: integer }
        status:
          type: string
          enum: [Placed, Canceled]
        type:
          type: string
          description: buy/sell

    Orderbook:
      type: object
      properties:
        timestamp:
          type: string
          description: Unix ms as string
        bids:
          type: array
          items:
            type: array
            minItems: 2
            maxItems: 2
            items:
              type: string
          description: "[price, size]; best → worst"
        asks:
          type: array
          items:
            type: array
            minItems: 2
            maxItems: 2
            items:
              type: string
          description: "[price, size]; best → worst"

    AssetsMap:
      type: object
      additionalProperties:
        $ref: "#/components/schemas/Asset"

    Asset:
      type: object
      properties:
        unified_cryptoasset_id: { type: string }
        name: { type: string }
        contractAddress: { type: string }
        contractAddressUrl: { type: string }
        can_deposit: { type: string, enum: ["true", "false"] }
        can_withdraw: { type: string, enum: ["true", "false"] }

    IndexerStatus:
      type: object
      required: [status, latest_onchain_checkpoint, current_time_ms, earliest_checkpoint, max_lag_pipeline, pipelines, max_checkpoint_lag, max_time_lag_seconds]
      properties:
        status:
          type: string
          enum: [OK, UNHEALTHY]
          description: "Overall indexer health status based on client-provided thresholds"
        latest_onchain_checkpoint:
          type: integer
          format: int64
          description: "Latest checkpoint sequence number on the blockchain"
        current_time_ms:
          type: integer
          format: int64
          description: "Current server timestamp in milliseconds"
        earliest_checkpoint:
          type: integer
          format: int64
          description: "The lowest checkpoint across all pipelines (useful for alerting)"
        max_lag_pipeline:
          type: string
          description: "Name of the pipeline with the highest checkpoint lag (useful for alerting)"
        pipelines:
          type: array
          items:
            $ref: "#/components/schemas/PipelineStatus"
          description: "Status for each indexer pipeline"
        max_checkpoint_lag:
          type: integer
          format: int64
          description: "Maximum checkpoint lag across all pipelines"
        max_time_lag_seconds:
          type: integer
          format: int64
          description: "Maximum time lag in seconds across all pipelines"

    PipelineStatus:
      type: object
      required: [pipeline, indexed_checkpoint, indexed_epoch, indexed_timestamp_ms, checkpoint_lag, time_lag_seconds, latest_onchain_checkpoint]
      properties:
        pipeline:
          type: string
          description: "Pipeline name (e.g., 'deepbook_indexer')"
        indexed_checkpoint:
          type: integer
          format: int64
          description: "Latest checkpoint indexed by this pipeline"
        indexed_epoch:
          type: integer
          format: int64
          description: "Latest epoch indexed by this pipeline"
        indexed_timestamp_ms:
          type: integer
          format: int64
          description: "Timestamp of the latest indexed checkpoint in milliseconds"
        checkpoint_lag:
          type: integer
          format: int64
          description: "Difference between on-chain and indexed checkpoint"
        time_lag_seconds:
          type: integer
          format: int64
          description: "Time difference in seconds since last indexed checkpoint"
        latest_onchain_checkpoint:
          type: integer
          format: int64
          description: "Latest on-chain checkpoint (included for completeness)"

x-notes:
  asset_scalars: |
    Asset “scalars” (decimal places for smallest unit) used by volume endpoints:
    AUSD:6, bETH:8, DEEP:6, USDC:6, SUI:9, NS:6, TYPUS:9, wUSDC:6, wUSDT:6.
    Convert human units by dividing by 10^SCALAR. (See docs.)
